.esri-view .esri-view-surface--inset-outline:focus::after {
  outline: none !important;
}

a {
  color: #19bfb7;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:focus {
  outline: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

html {
  font-size: 62.5%;
}

h1,
h3 {
  font-family: "Raleway", sans-serif;
}

body {
  background-color: #1d232b;
  font-size: 16px;
  font-family: "Oxygen", sans-serif;
}

input,
select {
  font-size: 100%;
}

button {
  outline: none;
  cursor: pointer;
}

.invis {
  display: none;
}

.checkbox__label {
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  color: #c8c8c8;
  display: block;
  position: relative;
  padding-left: 3rem;
  padding-top: 0.4rem;
  cursor: pointer;
  font-size: 1.5rem;
  max-height: 3rem;
  align-self: center;
}
.checkbox__label:hover input ~ .checkbox__custom {
  background-color: #2e343c;
}
.checkbox__label input:checked ~ .checkbox__custom {
  background-color: #0a1c29;
}
.checkbox__input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkbox__custom {
  position: absolute;
  top: 0;
  left: 0;
  height: 2.4rem;
  width: 2.4rem;
  background-color: #1d232b;
  border: 2px solid #505254;
  border-radius: 5px;
}
.checkbox__custom:after {
  content: "";
  position: absolute;
  display: none;
}
.checkbox__label input:checked ~ .checkbox__custom:after {
  display: block;
}
.checkbox__custom:after {
  left: 7px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid #19bfb7;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.navigation {
  padding-top: 1.5rem;
  padding-left: 1.5rem;
}
.navigation__logo {
  width: 15rem;
  padding-left: 1.2rem;
}
.navigation__logo-img {
  max-height: 3.4rem;
  margin-bottom: -0.5rem;
}

.home__navigation {
  padding-top: 1.5rem;
  padding-left: 1.5rem;
}
.home__navigation-logo {
  width: 15rem;
  padding-left: 1.2rem;
}
.home__navigation-logo-img {
  max-height: 4.2rem;
  margin-bottom: -1.5rem;
  margin-top: 1rem;
  margin-left: 0.9rem;
}

.home-brTag1 {
  display: none;
}

.posPrice-btn {
  padding: 1.2rem 1.7rem;
  text-align: center;
  border: 2px solid #505254;
  border-radius: 5px;
}

.posPrice-btn:hover {
  cursor: pointer;
}

.home__page {
  font-family: "Raleway", sans-serif;
}
.home__header {
  background-color: #202f40;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23171a1f' fill-opacity='0.63'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.63'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
  display: grid;
  height: 54rem;
}
.home__header-title-h1 {
  color: #c8c8c8;
  font-size: 6.3rem;
  line-height: 0.9495;
  margin-left: 10%;
}
.home__header-title-h1-span1 {
  padding-left: 6%;
}
.home__header-title-h1-span2 {
  padding-left: 9.9%;
}
.home__header-title-p {
  color: #19bfb7;
  padding-top: 1rem;
  padding-left: 19%;
  font-size: 2.6rem;
  font-weight: 500;
}
.home__header-title-p-span {
  color: #c8c8c8;
  font-weight: 500;
  font-size: 2.4rem;
}
.home__header-form {
  align-self: baseline;
  justify-self: center;
  width: 72rem;
  max-width: 72rem;
  padding: 2rem 2rem;
  padding-top: 1rem;
  border-radius: 5px;
  background: #075b85; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #075b85, #38a29d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.home__header-form-title {
  padding: 1rem 0rem;
  text-align: start;
  color: #dbd8d8;
  font-size: 2.1rem;
  font-weight: 500;
}
.home__header-form-title-titleText2 {
  display: none;
}
.home__header-services {
  color: #eeecec;
  font-size: 1.6rem;
}

.home__what-we-do {
  color: #dbd8d8;
}
.home__what-we-do p {
  font-weight: 400;
  font-family: "Oxygen", sans-serif;
  font-size: 1.7rem;
  color: #6f7c92;
}
.home__what-we-do-p {
  margin: 0.1rem;
}
.home__what-we-do-h2 {
  font-size: 3.3rem;
  background: linear-gradient(to left, #023752, #181d1d);
  padding: 2rem 2rem;
}
.home__what-we-do-desc {
  padding: 3.3rem 15%;
}
.home__what-we-do-spec {
  margin-bottom: 3.3rem;
  display: grid;
  justify-content: center;
}
.home__what-we-do-spec p {
  color: #58647b;
}
.home__what-we-do-spec-h3 {
  font-size: 2.4rem;
  text-align: center;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
  font-weight: 200;
  color: #58647b;
}
.home__what-we-do-list {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 1.2rem;
  padding: 2rem 0rem;
  max-width: 120rem;
  max-width: 96%;
  overflow-x: auto;
}
.home__what-we-do-list-item {
  padding: 1rem 1rem;
  text-align: center;
  min-width: 24rem;
}
.home__what-we-do-list-item p {
  padding: 0.9rem 0.2rem;
}
.home__what-we-do-list-item-img {
  height: 3.3rem;
}
.home__what-we-do-list-item-priceP {
  color: #58647b;
  padding: 0.5rem 0.5rem;
  margin-bottom: 0.5rem;
  box-shadow: 0 1px 1px rgba(104, 104, 104, 0.3);
}
.home__what-we-do-list-item-recP {
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  box-shadow: 0 1px 1px rgba(104, 104, 104, 0.3);
}
.home__what-we-do-list-item-h3 {
  text-align: center;
  padding: 1rem 1.5rem;
  background-color: #1f2e40;
  color: #bcbcbd;
}
.home__what-we-do-list-item-h3 svg {
  height: 3rem;
  margin-bottom: -8px;
  margin-right: 0.5rem;
}
.home__what-we-do-list-item-content {
  padding: 0.5rem 0.5rem;
}
.home__what-we-do-list-item-priceTag {
  font-weight: 400;
  color: #3ee688;
}
.home__what-we-do-specLabel {
  color: #8a8a8a;
}
.home__what-we-do-sizeTag {
  color: #bcbcbd;
}
.home__what-we-do-appTag {
  color: #bcbcbd;
}
.home__what-we-do-plyTag {
  color: #bcbcbd;
}
.home__what-we-do-posTag {
  color: #bcbcbd;
}

.home__deals {
  background-color: #1d232b;
  margin-bottom: 5rem;
}
.home__deals-row {
  display: grid;
  overflow: hidden;
  padding-top: 4.2rem;
}
.home__deals-row-br {
  display: none;
}
.home__deals-row-loading {
  min-height: 47rem;
}
.home__deals-row-title {
  color: #c8c8c8;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
  padding-left: 15%;
  font-size: 2.4rem;
  font-weight: 500;
  margin: 2.1rem 0.3rem;
}
.home__deals-row-title-link {
  font-size: 1.7rem;
  color: #19bfb7;
  cursor: pointer;
  text-decoration: underline;
}
.home__deals-row-pricesByType {
  font-family: "Raleway", sans-serif;
  color: #c8c8c8;
  justify-self: center;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 1rem;
  font-size: 1.5rem;
  font-weight: 400;
}
.home__deals-row-allPrice-tag {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
.home__deals-row-steerPrice-tag {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
.home__deals-row-drivePrice-tag {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
.home__deals-row-trailerPrice-tag {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
.home__deals-row-featured {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1rem;
  padding: 0 15%;
  box-shadow: 0 1px 1px rgba(104, 104, 104, 0.3);
}
.home__deals-row-featured-title {
  color: #c8c8c8;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  font-weight: 400;
  font-size: 1.9rem;
}
.home__deals-row-featured-service {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 1rem;
  justify-content: center;
  align-items: end;
}
.home__deals-row-featured-service-p {
  color: #bebebe;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  text-align: center;
  padding-bottom: 0.8rem;
  font-weight: 400;
}
.home__deals-row-featured-service-p:hover {
  cursor: pointer;
}
.home__deals-row-featured-service-p-active {
  color: #eeecec;
  font-weight: 500;
  font-size: 1.5rem;
  border-bottom: 3px solid #19bfb7;
}
.home__deals-row-list {
  justify-self: center;
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 0.5rem;
  padding: 2rem 0rem;
  max-width: 118rem;
  max-width: 72%;
  overflow-x: auto;
}

.home__quickSearch {
  padding: 0.3rem;
}
.home__quickSearch-label {
  color: #dbd8d8;
  margin-right: 0.5rem;
  font-size: 1.6rem;
}
.home__quickSearch-link {
  margin: 0.3rem 0.3rem;
  color: #556076;
  font-size: 1.5rem;
}

.search__places {
  color: #383c42;
}

.Demo__autocomplete-container {
  border-bottom: honeydew;
  border-left: honeydew;
  border-right: honeydew;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 2px 2px;
  position: absolute;
  z-index: 100;
}

.Demo__suggestion-icon {
  margin-right: 8px;
}

.autocomplete {
  width: 100%;
}
.autocomplete__input {
  font-family: "Oxygen", sans-serif;
  font-size: 100%;
  font-size: 16px;
  color: #383c42;
  width: 100%;
  padding: 0.33rem 0;
  padding-left: 1.2rem;
  line-height: 2;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 18px;
}
.autocomplete__input:focus {
  outline: none;
}
.autocomplete__input-dark {
  background-color: #1d232b;
  border-radius: 5px;
  border: 2px solid #37383a;
  color: #c8c8c8;
  line-height: 1.5;
}
.autocomplete__dropdown-container-dark {
  background-color: #1d232b;
  color: #c8c8c8;
}
.autocomplete__suggestion {
  padding: 0.2rem 0.2rem;
  font-size: 1.8rem;
}

.no-results-div {
  padding: 3rem 0;
  grid-column: 1/4;
}
.no-results-div-p {
  font-size: 1.7rem;
  text-align: center;
  color: #c8c8c8;
}

.tiresPage__mapWrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.price {
  font-size: 1.5rem;
  color: #3ee688;
  font-weight: 500;
}
.price-old {
  font-size: 1.3rem;
  color: #58647b;
  text-decoration: line-through;
}

div {
  scrollbar-color: #1a4559 #1b1f24;
}
div::-webkit-scrollbar-track {
  background: #1b1f24;
}
div::-webkit-scrollbar-thumb {
  background: #1a4559;
  border-radius: 25px;
}

.sidebar::-webkit-scrollbar,
.sidebar-tires::-webkit-scrollbar,
.sidebar-tires-list::-webkit-scrollbar,
.shopInfoModal-tires__list::-webkit-scrollbar {
  background: #1d232b;
  width: 0.9rem;
}

.list-item-tires::-webkit-scrollbar,
.sidebar-tires-list::-webkit-scrollbar,
.shopInfoModal-tires__list::-webkit-scrollbar {
  background: #1d232b;
  height: 0.7rem;
}

.shop-info-window-tires::-webkit-scrollbar,
.home__deals-row-list::-webkit-scrollbar,
.sidebar-tires-list::-webkit-scrollbar,
.shopInfoModal-tires__list::-webkit-scrollbar,
.home__what-we-do-list::-webkit-scrollbar {
  background: #1d232b;
  height: 0.7rem;
}

.sidebar {
  position: absolute;
  z-index: 2;
  height: 81rem;
  width: 56.5rem;
  background-color: #1b1f24;
  margin-top: 7rem;
  margin-left: 1.5rem;
  overflow-y: scroll;
}

.sidebar-tires {
  position: absolute;
  z-index: 2;
  height: 88%;
  width: 56rem;
  background-color: #1d232b;
  margin-top: 9.3rem;
  margin-left: 0.5rem;
}
.sidebar-tires-list {
  max-height: 91%;
  overflow-y: scroll;
  padding-top: 1.2rem;
  display: grid;
  grid-row-gap: 0.5rem;
  grid-column-gap: 0.5rem;
  grid-template-columns: repeat(3, 1fr);
}

.tires-card-tires {
  padding-bottom: 1rem;
  display: grid;
  align-content: start;
  justify-items: center;
  min-width: 17.5rem;
  font-family: "Oxygen", sans-serif;
  border-radius: 5px;
}
.tires-card-tires:hover {
  transition: background 0.2s;
  cursor: pointer;
}
.tires-card-tires-img {
  display: inline-block;
  max-height: 10.5rem;
  max-width: 10.5rem;
  margin-right: -0.8rem;
}
.tires-card-tires-title {
  line-height: 2rem;
  font-family: "Oxygen", sans-serif;
  text-align: start;
  justify-self: start;
  padding-left: 0.5rem;
}
.tires-card-tires-title-brand {
  font-size: 1.7rem;
  font-weight: bolder;
}
.tires-card-tires-title-model {
  font-size: 1.6rem;
  font-weight: 400;
  font-style: italic;
}
.tires-card-tires-title-axle {
  font-size: 1.5rem;
  font-weight: 500;
  font-style: italic;
  color: #58647b;
}
.tires-card-tires-price {
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  padding: 0.1rem;
}
.tires-card-tires-price-old {
  text-decoration: line-through;
  font-size: 1.3rem;
}
.tires-card-tires-price-final {
  text-align: center;
  padding: 0.1rem;
  font-size: 1.5rem;
}
.tires-card-tires-price-final-mobile {
  text-align: center;
  padding: 0.1rem;
  font-size: 1.5rem;
}
.tires-card-tires-shopName-wrap {
  width: 100%;
  padding: 0.5rem 1rem;
}
.tires-card-tires-shopName {
  font-size: 1.6rem;
  font-weight: 300;
  text-align: center;
}
.tires-card-tires-tags {
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-auto-flow: column;
  width: 100%;
  padding: 0.5rem 1rem;
  margin-bottom: -0.5rem;
}
.tires-card-tires-tags-tag {
  font-family: "Raleway", sans-serif;
  font-size: 1.4rem;
  padding: 0.5rem 1.5rem;
  border: 2px solid;
  border-radius: 25px;
}
.tires-card-tires-sizeTag {
  color: #e4e4e4;
  z-index: 3;
  margin-bottom: -2rem;
  position: relative;
  top: 1.5px;
  justify-self: right;
  padding-right: 0.5rem;
  font-size: 1.5rem;
}

.tct-dark {
  background-color: #1e2227;
  box-shadow: 0 0px 10px rgba(77, 77, 77, 0.2);
}
.tct-dark:hover {
  background: #101214;
  transition: background 0.2s;
}
.tct-dark-title {
  color: #c8c8c8;
}
.tct-dark-title-brand {
  color: #eaeaea;
}
.tct-dark-title-model {
  color: #5b5e5f;
}
.tct-dark-price {
  font-weight: 500;
  color: #00f76d;
}
.tct-dark-price-old {
  color: #58647b;
}
.tct-dark-price-final {
  color: #58647b;
}
.tct-dark-price-final-num {
  font-weight: 500;
  color: #365690;
}
.tct-dark-price-final-mobile {
  color: #58647b;
}
.tct-dark-price-final-mobile-num {
  font-weight: 500;
  color: #09847e;
}
.tct-dark-shopName {
  color: #8a8a8a;
  font-weight: 500;
}
.tct-dark-tags-tag {
  background-color: #1b1f24;
  color: #8a8a8a;
}
.tct-dark-tags-tag-all {
  border-color: #3cd289;
  box-shadow: 0 1px 1px rgba(104, 104, 104, 0.3);
}
.tct-dark-tags-tag-trailer {
  border-color: #075b85;
}
.tct-dark-tags-tag-drive {
  border-color: #89a762;
}
.tct-dark-tags-tag-steer {
  border-color: #14a099;
}
.tct-dark-tags-dist {
  color: #c8c8c8;
  font-size: 1.4rem;
  font-weight: 400;
}

.react-responsive-modal-root {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.react-responsive-modal-overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.react-responsive-modal-container {
  height: 100%;
  outline: 0;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
}

/* Used to trick the browser to center the modal content properly  */
.react-responsive-modal-containerCenter:after {
  width: 0;
  height: 100%;
  content: "";
  display: inline-block;
  vertical-align: middle;
}

.react-responsive-modal-modal {
  max-width: 93rem;
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  background: #1b1f24;
  color: #c8c8c8;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.25);
  margin: 1.2rem;
  padding: 1.2rem;
  position: relative;
  overflow-y: auto;
}

.react-responsive-modal-closeButton {
  position: absolute;
  top: 14px;
  right: 14px;
  border: none;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  display: flex;
}

.react-responsive-modal-closeButton svg path {
  fill: #c8c8c8;
}

@keyframes react-responsive-modal-overlay-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes react-responsive-modal-overlay-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes react-responsive-modal-modal-in {
  0% {
    transform: scale(0.96);
    opacity: 0;
  }
  100% {
    transform: scale(100%);
    opacity: 1;
  }
}
@keyframes react-responsive-modal-modal-out {
  0% {
    transform: scale(100%);
    opacity: 1;
  }
  100% {
    transform: scale(0.96);
    opacity: 0;
  }
}
.btn247 {
  text-align: center;
  padding: 0.5rem 0.8rem;
  max-width: 24rem;
  border: 2px solid #c3bebe;
  border-radius: 25px;
  font-size: 1.5rem;
}

.btn247 svg {
  font-size: 1.8rem;
  margin-bottom: -0.3rem;
  margin-right: 0.2rem;
}

.btn247 svg path {
  fill: #c3bebe;
}

.SVG-price {
  font-size: 1.4rem;
  margin-bottom: -0.1rem;
  margin-right: 0.7rem;
}
.SVG-map {
  font-size: 2.4rem;
  margin-bottom: -0.5rem;
  margin-right: 0.2rem;
  margin-left: -0.7rem;
}
.SVG-list {
  font-size: 2.3rem;
  margin-bottom: -5px;
  margin-right: 4px;
}
.SVG-location {
  font-size: 1.8rem;
  margin-bottom: -0.1rem;
  margin-right: 0.5rem;
}
.SVG-phone {
  margin-right: 0.2rem;
  font-size: 1.8rem;
  margin-bottom: -0.2rem;
}
.SVG-link {
  margin-right: 0.2rem;
  margin-bottom: -0.4rem;
  font-size: 1.8rem;
}
.SVG-search {
  margin-bottom: -3px;
  margin-left: 5px;
}
.SVG-search:hover {
  cursor: pointer;
}

.SVG-price path {
  fill: #c3bebe;
}

.shopInfoModal__content p {
  margin: 0.3rem;
}

.shopInfoModal {
  font-size: 1.8rem;
  display: grid;
  grid-template-columns: 1.5fr 5.5fr 0.4fr;
  background-color: rgba(27, 31, 36, 0.9);
  color: #fcfcfc;
}
.shopInfoModal__content {
  padding: 0.5rem 0.5rem;
  color: #c3bebe;
}
.shopInfoModal-selectedTire {
  margin-right: 0.7rem;
  margin-bottom: 0.7rem;
}
.shopInfoModal-info {
  color: #e2dede;
  font-size: 1.63rem;
  display: grid;
}
.shopInfoModal-info-247 {
  display: grid;
  grid-column-gap: 1rem;
  grid-auto-flow: column;
  margin-top: 1rem;
  margin-bottom: 1rem;
  justify-content: start;
}
.shopInfoModal-info__title {
  box-shadow: 0 1px 1px rgba(104, 104, 104, 0.3);
  padding-bottom: 0.7rem;
  max-height: 3.5rem;
  display: flex;
  justify-content: space-between;
}
.shopInfoModal-info__title-outer {
  padding-left: 1.5rem 2.1rem;
  padding-bottom: 0.7rem;
}
.shopInfoModal-info__title-inner {
  font-size: 1.8rem;
  font-weight: 500;
}
.shopInfoModal-info__title-distance {
  font-size: 1.8rem;
}
.shopInfoModal-info__oneMobility {
  padding: 0.5rem 0.5rem;
  box-shadow: 0 1px 1px rgba(104, 104, 104, 0.3);
  margin-bottom: 0.5rem;
}
.shopInfoModal-info__oneMobility-title {
  font-family: "Raleway", sans-serif;
  font-size: 1.7rem;
  font-weight: 500;
  color: #8a8a8a;
}
.shopInfoModal-info-shopRates-title {
  padding: 0.5rem 0.5rem;
  box-shadow: 0 1px 1px rgba(104, 104, 104, 0.3);
  margin-bottom: 0.7rem;
}
.shopInfoModal-info-shopRates-title-inner {
  font-family: "Raleway", sans-serif;
  font-size: 1.7rem;
  color: #8a8a8a;
  font-weight: 500;
}
.shopInfoModal-info-roadServiceRates-title {
  padding: 0.5rem 0.5rem;
  box-shadow: 0 1px 1px rgba(104, 104, 104, 0.3);
  margin-bottom: 0.7rem;
}
.shopInfoModal-info-roadServiceRates-title-inner {
  font-family: "Raleway", sans-serif;
  font-size: 1.7rem;
  color: #8a8a8a;
  font-weight: 500;
}
.shopInfoModal-info-afterHoursRates-info-inShop {
  margin-bottom: 1rem;
}
.shopInfoModal-info-afterHoursRates-title {
  padding: 0.5rem 0.5rem;
  box-shadow: 0 1px 1px rgba(104, 104, 104, 0.3);
  margin-bottom: 0.7rem;
}
.shopInfoModal-info-afterHoursRates-title-inner {
  font-family: "Raleway", sans-serif;
  font-size: 1.7rem;
  color: #8a8a8a;
  font-weight: 500;
}
.shopInfoModal-info__phoneAfterHours {
  margin-bottom: 1rem;
}
.shopInfoModal-tires {
  grid-column: 1/3;
}
.shopInfoModal-tires__title {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1rem;
  margin-bottom: 0.7rem;
  padding: 0rem 1.8rem;
  box-shadow: 0 1px 1px rgba(104, 104, 104, 0.3);
}
.shopInfoModal-tires__title-inner {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  font-family: "Raleway", sans-serif;
  font-size: 1.7rem;
  font-weight: 400;
}
.shopInfoModal-tires__list {
  display: grid;
  justify-content: start;
  grid-auto-flow: column;
  overflow-x: auto;
  grid-column-gap: 0.5rem;
}
.shopInfoModal-tires-card {
  display: grid;
  justify-items: center;
  max-width: 19rem;
  min-width: 18rem;
  padding: 0.5rem 1.5rem;
}
.shopInfoModal-tires-card-img {
  display: inline-block;
  max-height: 9.5rem;
  max-width: 9.5rem;
}
.shopInfoModal-tires-card-title {
  font-size: 1.3rem;
  padding: 0.1rem;
}
.shopInfoModal-tires-card-price {
  font-size: 1.4rem;
  margin-top: 0.4rem;
}
.shopInfoModal-tires-card-price-old {
  font-size: 1.2rem;
}
.shopInfoModal-tires-card-price-final {
  padding: 0.4rem;
  font-size: 1.4rem;
}

.gm-style .gm-style-iw-c {
  background-color: #f1f5f6;
  border-radius: 8px;
  box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.3);
  color: #1d232b;
}

.gm-style-iw-d {
  overflow: unset !important;
}

.info-window {
  padding-bottom: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.5rem;
}
.info-window-title {
  font-weight: 400;
  font-size: 1.4rem;
}
.info-window-title:hover {
  text-decoration: underline;
  cursor: pointer;
}
.info-window-phone svg path {
  fill: #1d232b;
}
.info-window-more {
  color: #19bfb7;
}
.info-window-more svg path {
  fill: #1d232b;
}
.info-window-more:hover {
  text-decoration: underline;
  cursor: pointer;
}

.dropdown {
  position: relative;
}
.dropdown__btn {
  padding: 0.58rem 2.2rem;
  background-color: #1d232b;
  color: #c8c8c8;
  font-size: 1.5rem;
  border: 2px solid #37383a;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  border-radius: 5px;
  width: 97%;
}
.dropdown__btn-active {
  background-color: #19bfb7;
  border: 2px solid #1a4559;
  color: #eeecec;
  font-weight: 500;
}
.dropdown__btn:hover {
  color: #eeecec;
}
.dropdown__content {
  position: absolute;
  display: grid;
  grid-row-gap: 1rem;
  background-color: #1d232b;
  padding: 0.33rem;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  min-width: 14rem;
  margin-top: 0.3rem;
}

.filters {
  max-width: 90rem;
  padding: 0 1.2rem;
  display: grid;
  grid-template-columns: 1.2fr 1fr 1fr 1fr 1fr;
  align-content: end;
}
.filters-type {
  padding: 1.5rem 1.5rem;
  margin-bottom: 0.5rem;
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
  box-shadow: 0 1px 1px rgba(104, 104, 104, 0.3);
}
.filters__after {
  justify-self: center;
  align-self: center;
  display: none;
}
.filters__afterServiceDropdown {
  display: none;
}

.active-type-filter {
  border-bottom: 3px solid #3ee688;
  color: #f7f1f1;
}

.header {
  padding: 0.5rem 2rem;
  position: absolute;
  z-index: 5;
  height: 9.3rem;
  width: 100%;
  max-width: 148rem;
  background-color: #1d232b;
  color: #fcfcfc;
  align-content: center;
  grid-auto-flow: column;
  border-bottom: 2px solid #1f1c1c;
}
.header_row_1 {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 2.4fr 8fr;
  margin-bottom: 1rem;
}
.header_row_2 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}
.header_row_2_near {
  padding-left: 1.5rem;
  max-width: 68rem;
}
.header_row_2_near_title {
  font-size: 2.1rem;
  color: #c8c8c8;
}
.header_row_2_near_title-span {
  color: #19bfb7;
  text-decoration: underline;
}
.header_row_2_near_title-span:hover {
  cursor: pointer;
}
.header_row_2_near_title-h1Text1 {
  display: none;
}
.header__withSearch {
  grid-template-columns: 6.2fr 8.5fr;
}
.header__search {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 5fr 1fr;
  align-items: center;
  grid-column-gap: 0.5rem;
}

.view_options {
  display: grid;
  grid-auto-flow: column;
  border-radius: 25px;
  align-self: center;
  margin-left: 1.5rem;
}
.view_options__btn {
  padding: 0.5rem 2.4rem;
  background-color: #1d232b;
  color: #c8c8c8;
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  width: 97%;
  letter-spacing: 0.1rem;
  border: 2px solid #37383a;
  text-align: center;
}
.view_options__btn-active {
  background-color: #19bfb7;
  font-weight: 500;
  color: #eeecec;
}
.view_options__btn:hover {
  color: #eeecec;
  cursor: pointer;
}
.view_options__map {
  border-radius: 5px 0px 0px 5px;
  margin-right: -0.1rem;
  border-right: 1px solid #505254;
  width: 100%;
}
.view_options__list {
  border-radius: 0px 5px 5px 0px;
  border-left: 1px solid #505254;
  margin-left: -0.2rem;
  width: 100%;
}

.sorting_options {
  display: grid;
  grid-auto-flow: column;
  border-radius: 25px;
  align-items: center;
  margin-left: 1.5rem;
  font-family: "Raleway", sans-serif;
}
.sorting_options-p {
  color: #c8c8c8;
  justify-self: center;
}
.sorting_options__btn {
  padding: 0.7rem 2.4rem;
  background-color: #1d232b;
  color: #c8c8c8;
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  width: 97%;
  letter-spacing: 0.1rem;
  border: 2px solid #37383a;
  text-align: center;
}
.sorting_options__btn-active {
  background-color: #19bfb7;
  font-weight: 500;
  color: #eeecec;
}
.sorting_options__btn:hover {
  color: #eeecec;
  cursor: pointer;
}
.sorting_options__price {
  border-radius: 25px 0px 0px 5px;
  margin-right: -0.1rem;
  border-right: 1px solid #505254;
  width: 100%;
}
.sorting_options__distance {
  border-radius: 0px 25px 5px 0px;
  border-left: 1px solid #505254;
  margin-left: -0.2rem;
  width: 100%;
}

.searchIcon {
  font-size: 3.3rem;
  justify-self: center;
  display: flex;
}
.searchIcon-text {
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  color: #19bfb7;
  text-decoration: underline;
  align-self: center;
}

.searchIcon {
  font-size: 3.3rem;
  justify-self: center;
  display: flex;
}
.searchIcon-text {
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  color: #19bfb7;
  text-decoration: underline;
  align-self: center;
}

.searchIcon:hover {
  cursor: pointer;
}

.searchIcon svg {
  margin-bottom: -0.7rem;
}

.searchIcon svg path {
  fill: #19bfb7;
}

.tct-lightBlue {
  background-color: #19bfb7;
  box-shadow: 0 1px 1px rgba(104, 104, 104, 0.3);
}
.tct-lightBlue:hover {
  background: #13e0d6;
  transition: background 0.2s;
}
.tct-lightBlue-title {
  font-weight: 500;
  color: #1b1f24;
}
.tct-lightBlue-price {
  color: #1b1f24;
  font-weight: 500;
}
.tct-lightBlue-price-old {
  color: #58647b;
}
.tct-lightBlue-price-final {
  color: #ae1df9;
  font-weight: 500;
}
.tct-lightBlue-price-final-num {
  font-weight: 500;
}
.tct-lightBlue-shopName {
  color: #1b1f24;
  font-weight: 500;
}
.tct-lightBlue-tags-tag {
  background-color: #1b1f24;
  color: #13e0d6;
}
.tct-lightBlue-tags-tag-all {
  border-color: #ae1df9;
  box-shadow: 0 1px 1px rgba(104, 104, 104, 0.3);
}
.tct-lightBlue-tags-tag-trailer {
  border-color: #ae1df9;
}
.tct-lightBlue-tags-tag-drive {
  border-color: #ae1df9;
}
.tct-lightBlue-tags-tag-steer {
  border-color: #ae1df9;
}
.tct-lightBlue-tags-dist {
  color: #1b1f24;
  font-size: 1.4rem;
  font-weight: 400;
}

.tct-pinkRed {
  background-color: #cb1583;
  box-shadow: 0 1px 1px rgba(104, 104, 104, 0.3);
}
.tct-pinkRed:hover {
  background: #f00893;
  transition: background 0.2s;
}
.tct-pinkRed-title {
  font-weight: 500;
  color: #13e0d6;
}
.tct-pinkRed-price {
  color: #1b1f24;
  font-weight: 500;
}
.tct-pinkRed-price-old {
  color: #58647b;
}
.tct-pinkRed-price-final {
  color: #13e0d6;
  font-weight: 500;
}
.tct-pinkRed-price-final-num {
  font-weight: 500;
}
.tct-pinkRed-shopName {
  color: #13e0d6;
  font-weight: 500;
}
.tct-pinkRed-tags-tag {
  background-color: #1b1f24;
  color: #13e0d6;
}
.tct-pinkRed-tags-tag-all {
  border-color: #13e0d6;
  box-shadow: 0 1px 1px rgba(104, 104, 104, 0.3);
}
.tct-pinkRed-tags-tag-trailer {
  border-color: #13e0d6;
}
.tct-pinkRed-tags-tag-drive {
  border-color: #13e0d6;
}
.tct-pinkRed-tags-tag-steer {
  border-color: #13e0d6;
}
.tct-pinkRed-tags-dist {
  color: #13e0d6;
  font-size: 1.4rem;
  font-weight: 400;
}

.tct-blue {
  background-color: #2d46b8;
  box-shadow: 0 1px 1px rgba(104, 104, 104, 0.3);
}
.tct-blue:hover {
  background: #2246e6;
  transition: background 0.2s;
}
.tct-blue-title {
  font-weight: 500;
  color: #1ed761;
}
.tct-blue-price {
  color: #cb1583;
  font-weight: 500;
}
.tct-blue-price-old {
  color: #1b1f24;
}
.tct-blue-price-final {
  color: #1ed761;
  font-weight: 500;
}
.tct-blue-price-final-num {
  font-weight: 500;
}
.tct-blue-shopName {
  color: #1ed761;
  font-weight: 500;
}
.tct-blue-tags-tag {
  background-color: #1b1f24;
  color: #13e0d6;
}
.tct-blue-tags-tag-all {
  border-color: #13e0d6;
  box-shadow: 0 1px 1px rgba(104, 104, 104, 0.3);
}
.tct-blue-tags-tag-trailer {
  border-color: #13e0d6;
}
.tct-blue-tags-tag-drive {
  border-color: #13e0d6;
}
.tct-blue-tags-tag-steer {
  border-color: #13e0d6;
}
.tct-blue-tags-dist {
  color: #1ed761;
  font-size: 1.4rem;
  font-weight: 400;
}

.tct-green {
  background-color: #1ed761;
  box-shadow: 0 1px 1px rgba(104, 104, 104, 0.3);
}
.tct-green:hover {
  background: #15dd5e;
  transition: background 0.2s;
}
.tct-green-title {
  font-weight: 500;
  color: #2d46b8;
}
.tct-green-price {
  color: #cb1583;
  font-weight: 500;
}
.tct-green-price-old {
  color: #1b1f24;
}
.tct-green-price-final {
  color: #2d46b8;
  font-weight: 500;
}
.tct-green-price-final-num {
  font-weight: 500;
}
.tct-green-shopName {
  color: #2d46b8;
  font-weight: 500;
}
.tct-green-tags-tag {
  background-color: #1b1f24;
  color: #13e0d6;
}
.tct-green-tags-tag-all {
  border-color: #13e0d6;
  box-shadow: 0 1px 1px rgba(104, 104, 104, 0.3);
}
.tct-green-tags-tag-trailer {
  border-color: #13e0d6;
}
.tct-green-tags-tag-drive {
  border-color: #13e0d6;
}
.tct-green-tags-tag-steer {
  border-color: #13e0d6;
}
.tct-green-tags-dist {
  color: #2d46b8;
  font-size: 1.4rem;
  font-weight: 400;
}

.list-item {
  padding: 1rem 2rem;
  color: #fcfcfc;
  overflow: hidden;
}
.list-item:hover {
  background: #122e3c;
  transition: 0.2s;
}
.list-item-active {
  color: #011f57;
}
.list-item-title {
  font-size: 1.7rem;
  font-weight: 400;
}
.list-item-desc {
  font-weight: 300;
  font-size: 1.4rem;
}
.list-item-tires {
  display: grid;
  grid-auto-flow: column;
  overflow-x: auto;
  padding: 1rem;
  justify-content: start;
}
.list-item-tires-card {
  display: grid;
  justify-items: center;
  min-width: 18rem;
  max-width: 18rem;
}
.list-item-tires-card-service-select {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  margin-bottom: 1rem;
}
.list-item-tires-card-service-select-btn {
  text-align: center;
  padding: 1rem 0;
  background: #1b1f24;
  border: none;
  color: #c8c8c8;
}
.list-item-tires-card-service-select-btn-active {
  background: #1a4559;
  border: none;
  color: #c8c8c8;
}
.list-item-tires-card:hover {
  background: #1a4559;
  transition: background 0.2s;
}
.list-item-tires-card-img {
  display: inline-block;
  max-height: 10rem;
  max-width: 10rem;
}
.list-item-tires-card-title {
  font-size: 1.4rem;
  padding: 0.5rem;
}
.list-item-tires-card-price {
  font-size: 1.5rem;
  padding-right: 1rem;
}
.list-item-tires-card-price-old {
  font-size: 1.2rem;
  color: #58647b;
  text-decoration: line-through;
}
.list-item-tires-card-price-final {
  padding: 0.5rem;
  font-size: 1.4rem;
}
.list-item-active {
  background: #122e3c;
  color: #fcfcfc;
}

.shop-info-window {
  padding: 0.5rem 1.2rem;
  background-color: rgba(27, 31, 36, 0.9);
  color: #fcfcfc;
  width: 63rem;
  max-width: 52%;
  z-index: 1;
  position: absolute;
  bottom: 0.1rem;
  left: 57rem;
  overflow: hidden;
  height: 30rem;
  min-height: 29rem;
  color: #b5acac;
  font-size: 1.6rem;
  font-weight: 400;
}
.shop-info-window-map {
  max-width: 75%;
  width: 64%;
  left: 18%;
}
.shop-info-window__title {
  padding-left: 1.5rem 2.1rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  color: #b5acac;
  box-shadow: 0 1px 1px rgba(104, 104, 104, 0.3);
  display: flex;
  justify-content: space-between;
}
.shop-info-window__title-inner {
  font-weight: 500;
  font-size: 1.8rem;
}
.shop-info-window__title-inner:hover {
  cursor: pointer;
  text-decoration: underline;
}
.shop-info-window__title-distance {
  font-size: 1.7rem;
}
.shop-info-window-tires {
  display: grid;
  justify-content: start;
  grid-auto-flow: column;
  overflow-x: auto;
}
.shop-info-window-tires-card {
  display: grid;
  justify-items: center;
  max-width: 19rem;
  min-width: 18rem;
  padding: 0.5rem 1.5rem;
}
.shop-info-window-tires-card-img {
  display: inline-block;
  max-height: 9.5rem;
  max-width: 9.5rem;
}
.shop-info-window-tires-card-title {
  font-size: 1.3rem;
  padding: 0.1rem;
}
.shop-info-window-tires-card-price {
  font-size: 1.4rem;
  margin-top: 0.4rem;
}
.shop-info-window-tires-card-price-old {
  font-size: 1.2rem;
}
.shop-info-window-tires-card-price-final {
  padding: 0.4rem;
  font-size: 1.4rem;
}

.footer {
  font-family: "Raleway", sans-serif;
  width: 100%;
  background-color: #1f2329;
  padding: 1.5rem 3rem;
  color: #eeecec;
}
.footer__content {
  padding: 1.5rem 3rem;
}
.footer__content-main {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1.5fr 1.2fr 5.2fr;
}
.footer__info {
  font-size: 1.5rem;
  font-weight: bolder;
}
.footer__info p {
  padding: 0.5rem 0.5rem;
}
.footer__info-contact {
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
.footer__info-adv {
  letter-spacing: 0.1rem;
  color: #eeecec;
  text-transform: uppercase;
}
.footer__info-inq {
  letter-spacing: 0.1rem;
  color: #eeecec;
  text-transform: uppercase;
}
.footer__brandsSection {
  color: #515b6f;
  text-align: center;
}
.footer__brandsSection a {
  color: #6f7c92;
}
.footer__brandsSection-h3 {
  color: #515b6f;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1rem;
  font-weight: 300;
}
.footer__brandsSection-p {
  text-align: center;
  margin-bottom: 0.7rem;
}
.footer__brandsSection-links {
  margin-top: 0.5rem;
}
.footer__locations {
  margin-top: 2.1rem;
}
.footer__locations-h3 {
  color: #515b6f;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0.7rem;
  font-weight: 300;
}
.footer__logo {
  justify-self: center;
  margin-bottom: 1rem;
  max-width: 15rem;
}
.footer__logo-img {
  max-height: 3.5rem;
}
.footer-line {
  height: 1px;
  background: #eeecec;
  background: #556076;
  margin-bottom: 1rem;
}
.footer-aidride {
  color: #556076;
  font-size: 1.7rem;
  font-weight: 500;
  text-align: right;
}

.loading {
  margin-top: 3rem;
  grid-column: 2/3;
}
.loading__p {
  color: #7ef9ff;
  font-weight: 400;
  text-align: center;
  font-size: 1.7rem;
  font-family: "Raleway", sans-serif;
}
.loading__dots {
  display: flex;
  height: 4rem;
  justify-content: center;
  align-items: center;
  background-color: #1d232b;
  display: flex;
}
.loading__dot {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  margin: 0.4em;
  border-radius: 50%;
}
.loading__dot::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: inherit;
  animation: wave 2s ease-out infinite;
}
.loading__dot:nth-child(1) {
  background: #7ef9ff;
}
.loading__dot:nth-child(1)::before {
  animation-delay: 0.2s;
}
.loading__dot:nth-child(2) {
  background: #89cff0;
}
.loading__dot:nth-child(2)::before {
  animation-delay: 0.4s;
}
.loading__dot:nth-child(3) {
  background: #4682b4;
}
.loading__dot:nth-child(3)::before {
  animation-delay: 0.6s;
}
.loading__dot:nth-child(4) {
  background: #0f52ba;
}
.loading__dot:nth-child(4)::before {
  animation-delay: 0.8s;
}
.loading__dot:nth-child(5) {
  background: #000080;
}
.loading__dot:nth-child(5)::before {
  animation-delay: 1s;
}

@keyframes wave {
  50%, 75% {
    transform: scale(2.5);
  }
  80%, 100% {
    opacity: 0;
  }
}
@media (max-width: 1220px) {
  .sidebar-tires {
    width: 45%;
  }
  .shop-info-window {
    left: 46%;
    bottom: 0.6rem;
  }
  .shop-info-window-map {
    max-width: 75%;
    width: 64%;
    left: 18%;
  }
  .tires-card-tires {
    min-width: 33.3%;
  }
}
@media (max-width: 1201px) {
  .header {
    grid-template-columns: 1.2fr 3.3fr 2.7fr;
    grid-auto-flow: row;
    height: 11rem;
    grid-row-gap: 0.9rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
  .header__search {
    grid-column: 1/3;
  }
  .sidebar-tires {
    margin-top: 11rem;
  }
  .navigation__logo {
    padding-left: 0;
  }
  .footer {
    padding: 3rem 0.5rem;
  }
  .footer__content {
    padding: 3rem 0.5rem;
  }
}
@media (max-width: 1174px) {
  .header_row_1 {
    grid-template-columns: 1fr 2.6fr 8fr;
  }
  .header_row_2 {
    grid-template-columns: 1.3fr 2fr;
  }
  .view_options {
    margin-left: unset;
  }
  .view_options__btn {
    padding: 0.5rem 1.9rem;
  }
}
@media (max-width: 985px) {
  .sidebar-tires-list {
    grid-template-columns: 1fr 1fr;
  }
  .filters-type {
    padding: 1rem 1rem;
  }
  .header_row_1 {
    grid-template-columns: 1fr 2.5fr 8fr;
  }
  .header_row_2 {
    grid-template-columns: 1.5fr 2fr;
  }
  .navigation__logo {
    width: 11rem;
  }
  .navigation__logo-img {
    max-height: 2.8rem;
  }
  .view_options__btn {
    padding: 0.5rem 1.2rem;
  }
}
@media (max-width: 875px) {
  .header_row_2_near_title {
    text-align: center;
  }
  .header_row_2_near_title-h1Text {
    display: none;
  }
  .header_row_2_near_title-h1Text1 {
    display: unset;
  }
  .header_row_1 {
    grid-template-columns: 1fr 2.8fr 8fr;
  }
  .header_row_2 {
    grid-template-columns: 1.8fr 2fr;
  }
  .sorting_options {
    margin-left: unset;
  }
  .header_row_2_near_title {
    font-size: 1.9rem;
  }
  .filters-type {
    padding: 1.2rem 0.7rem;
  }
  .shop-info-window {
    left: 2%;
    bottom: 0.6rem;
    z-index: 1;
  }
  .shop-info-window-map {
    max-width: 75%;
    width: 64%;
    left: 18%;
  }
  .sidebar-tires {
    width: 90%;
    min-height: 33rem;
  }
  .sidebar-tires-list {
    grid-template-columns: repeat(4, 1fr);
  }
  .home__header-form {
    width: 90%;
  }
  .footer {
    padding: 3rem 0.2rem;
  }
  .footer__content {
    padding: 3rem 0.2rem;
  }
  .footer__content-main {
    grid-template-columns: 1.8fr 1.2fr 5fr;
  }
  .home__header-title-p {
    padding-left: 9%;
  }
}
@media (max-width: 785px) {
  .header {
    padding: 0.4rem 1rem;
    height: 13.3rem;
    padding-bottom: unset;
  }
  .header_row_1 {
    grid-template-columns: 1fr 2.4fr;
    grid-row-gap: 1rem;
  }
  .navigation__logo {
    width: 12rem;
    grid-column: 1/2;
    justify-self: center;
  }
  .navigation__logo-img {
    max-height: 3.3rem;
  }
  .view_options {
    grid-column: 2/3;
  }
  .sidebar-tires {
    margin-top: 13.2rem;
  }
  .filters {
    grid-row: 2;
    grid-column: 1/3;
  }
  .header_row_2 {
    grid-template-columns: 1.6fr 2fr;
  }
  .header_row_2_near {
    padding-left: 0.5rem;
  }
  .header_row_2_near_title {
    font-size: 1.7rem;
  }
  .sorting_options-p {
    display: none;
  }
  .sorting_options__btn {
    padding: 0.6rem 2.4rem;
    font-size: 1.4rem;
  }
  .sidebar-tires {
    width: 96%;
  }
  .header {
    grid-template-columns: 1.2fr 3.3fr;
  }
  .filters {
    grid-template-columns: repeat(4, 1fr);
    padding: 0 0.5rem;
  }
  .filters__after {
    display: none;
  }
  .filters__afterServiceDropdown {
    display: unset;
  }
  .footer {
    padding: 2.7rem 0.1rem;
  }
  .footer__content {
    padding: 2.7rem 0.1rem;
  }
  .footer__content-main {
    grid-template-columns: 2fr 1.5fr 4fr;
  }
  .shop-info-window-map {
    max-width: 80%;
    width: 76%;
    left: 12%;
  }
  .home__header-title-p {
    padding-left: 5%;
  }
  .home__header-title-h1 {
    line-height: 1;
    margin-left: 3%;
  }
}
@media (max-width: 700px) {
  .shopInfoModal {
    grid-template-columns: 7fr 0.4fr;
  }
  .shopInfoModal-selectedTire {
    display: none;
  }
  .shopInfoModal-info__title-distance {
    padding-right: 0.8rem;
  }
}
@media (max-width: 650px) {
  .header_row_2_near_title-h1Text {
    display: none;
  }
  .sidebar-tires {
    width: 92%;
  }
  .sidebar-tires-list {
    grid-template-columns: repeat(3, 1fr);
  }
  .footer {
    padding: 2.7rem 0.1rem;
  }
  .footer__content {
    padding: 2.7rem 0.1rem;
  }
  .footer__content-main {
    grid-template-columns: 1fr 1fr;
  }
  .footer__brandsSection {
    grid-row: 2;
    grid-column: 1/3;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .footer__info {
    justify-self: center;
  }
}
@media (max-width: 533px) {
  .shopInfoModal-info-247 {
    grid-auto-flow: row;
    grid-row-gap: 0.8rem;
  }
  .shopInfoModal-info__title {
    display: unset;
    max-height: unset;
  }
  .shopInfoModal-tires__title {
    grid-template-columns: 1fr;
  }
  .home__deals-row-featured-service {
    display: none;
  }
  .tires-card-tires-shopName {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
  }
  .tires-card-tires-sizeTag {
    top: 8px;
    font-size: 1.4rem;
  }
  .header {
    height: 15.5rem;
  }
  .header_row_1 {
    grid-template-columns: 1.2fr 2.1fr;
    margin-bottom: 0.3rem;
    grid-row-gap: 0.3rem;
  }
  .header_row_2 {
    grid-template-columns: 1fr;
    grid-row-gap: 0.3rem;
  }
  .header_row_2_near {
    grid-row: 2;
  }
  .header_row_2_near_title {
    padding-top: 0.5rem;
    text-align: center;
    font-size: 1.8rem;
  }
  .header_row_2_near_title-span {
    padding-left: unset;
  }
  .sidebar-tires {
    margin-top: 15.5rem;
    min-height: 100vh;
  }
  .autocomplete__input-dark {
    line-height: 1.4;
  }
  .searchIcon-text {
    display: none;
  }
  .tires-card-tires {
    padding-bottom: 0.5rem;
  }
  .tires-card-tires-shopName {
    font-size: 1.3rem;
  }
  .tires-card-tires-shopName-wrap {
    padding: 0.3rem 0.7rem;
    padding-bottom: 0.1rem;
  }
  .tires-card-tires-tags {
    padding: 0.3rem 0.7rem;
  }
  .tires-card-tires-tags-tag {
    font-size: 1.2rem;
    padding: 0.3rem 1rem;
  }
  .tires-card-tires-tags-dist {
    font-size: 1.2rem;
  }
  .tires-card-tires-img {
    max-height: 8.7rem;
    max-width: 8.7rem;
    margin-bottom: -0.2rem;
  }
  .tires-card-tires-title {
    padding-left: 0.1rem;
  }
  .tires-card-tires-title-model {
    font-size: 1.4rem;
    line-height: 1;
  }
  .tires-card-tires-title-axle {
    display: none;
  }
  .tires-card-tires-price {
    font-size: 1.7rem;
  }
  .tires-card-tires-price-old {
    font-size: 0.9rem;
  }
  .tires-card-tires-price-final {
    padding: 0rem;
    font-size: 1.3rem;
  }
  .tires-card-tires-price-final-mobile {
    padding: 0rem;
    font-size: 1.3rem;
  }
}
@media (max-width: 425px) {
  .header_row_2_near_title {
    font-size: 1.7rem;
  }
  .navigation__logo {
    width: 11.7rem;
  }
  .navigation__logo-img {
    max-height: 3rem;
  }
  .shop-info-window {
    display: none;
  }
  .shop-info-window-map {
    display: none;
  }
  .tiresPage__mapWrapper {
    height: 100%;
    overflow: auto;
    min-height: 81rem;
  }
  .tiresPage__mapWrapper-map {
    height: 100vh;
  }
  .sidebar-tires {
    position: unset;
    margin-left: 0;
    width: 98%;
  }
  .sidebar-tires-list {
    max-height: unset;
    overflow-y: unset;
  }
  .dropdown__btn {
    padding: 0.58rem 1.5rem;
    font-size: 1.4rem;
  }
  .checkbox__label {
    font-size: 1.4rem;
  }
  .footer {
    padding: 2.4rem 0.3rem;
  }
  .footer__content {
    padding: 2.4rem 0.3rem;
  }
  .footer__info {
    font-size: 1.4rem;
  }
}
@media (max-width: 386px) {
  .tires-card-tires-title-model {
    font-size: 1.2rem;
  }
  .tires-card-tires-price-final-mobile {
    font-size: 1.2rem;
  }
  .tires-card-tires-price-final-mobile-num {
    font-size: 1.2rem;
  }
}
@media (max-width: 350px) {
  .sidebar-tires-list {
    grid-template-columns: repeat(2, 1fr);
  }
  .view_options {
    margin-left: 0;
  }
  .view_options__btn {
    padding: 0.5rem 1.5rem;
  }
  .tires-card-tires-tags-tag {
    font-size: 1.1rem;
    padding: 0.3rem 0.9rem;
  }
  .tires-card-tires-tags-dist {
    font-size: 1.1rem;
  }
  .tires-card-tires-title-model {
    font-size: 1.25rem;
  }
}
@media (max-width: 1225px) {
  .home__deals-row-list {
    max-width: 85%;
  }
  .home-tire-card {
    min-width: 16rem;
  }
  .home__deals-row-title {
    padding-left: 8%;
  }
  .home__deals-row-featured {
    padding: 0 8%;
  }
}
@media (max-width: 950px) {
  .home__deals-row-list {
    max-width: 87%;
  }
  .home__deals-row-title {
    padding-left: 7%;
  }
  .home__deals-row-featured {
    padding: 0 7%;
  }
}
@media (max-width: 850px) {
  .home__deals-row-title {
    padding-left: 5%;
  }
  .home__deals-row-featured {
    padding: 0 5%;
  }
  .posPrice-btn {
    padding: 1.1rem 1.5rem;
  }
  .home__deals-row-pricesByType {
    grid-column-gap: 0.8rem;
  }
  .home__header-title-p {
    padding-left: 3%;
  }
  .home__header-title-h1 {
    margin-left: 7%;
  }
}
@media (max-width: 767px) {
  .home__header {
    height: 57rem;
  }
  .home__navigation-logo-img {
    margin-bottom: -1rem;
  }
  .home__header-title {
    padding: 0 1.5rem;
  }
  .home__header-title-h1 {
    font-size: 6.1rem;
    margin-left: 5%;
  }
  .home__header-title-p {
    display: none;
  }
  .home__header-title-h1-span2 {
    padding-left: 5%;
  }
  .home__header-title-h1-span1 {
    padding-left: 5%;
  }
  .home__header-title-h1-span3 {
    padding-left: 5%;
  }
  .home__header-title-p-mobile {
    color: #19bfb7;
    font-weight: 500;
    font-size: 2.6rem;
    padding-top: 0.5rem;
    padding-left: 10%;
  }
  .home-brTag1 {
    display: unset;
  }
  .home__deals-row-pricesByType {
    grid-auto-flow: row;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 1rem;
    padding: 1.2rem 8rem;
    justify-self: unset;
  }
  .home-tire-card {
    min-width: 15rem;
  }
  .home__deals-row-list::-webkit-scrollbar {
    height: 1.1rem;
  }
}
@media (min-width: 768px) {
  .home__header-title-p-mobile {
    display: none;
  }
}
@media (max-width: 657px) {
  .home__deals-row-featured {
    grid-template-columns: 1fr 2fr;
  }
  .home__header-form-title-titleText1 {
    display: none;
  }
  .home__header-form-title-titleText2 {
    display: unset;
  }
  .home__header-title-h1 {
    font-size: 5.3rem;
    margin-left: 1%;
  }
  .home__header-title-h1-span1 {
    padding-left: 1%;
  }
  .home__header-title-h1-span2 {
    padding-left: 1%;
  }
  .home__header-title-h1-span3 {
    padding-left: 1%;
  }
  .home__header-title-h1-p-mobile {
    padding-left: 3%;
  }
}
@media (max-width: 545px) {
  .home__navigation-logo {
    padding-left: 0;
  }
  .home__header-title-h1 {
    font-size: 4.5rem;
    margin-left: 0;
  }
  .autocomplete__input {
    font-size: 1.6rem;
  }
  .home__deals-row-featured {
    padding: 0 0.8rem;
    grid-template-columns: 3fr 2fr;
  }
  .home__deals-row-featured-title {
    font-size: 1.7rem;
  }
  .home__deals-row-featured-service-p {
    font-size: 1.2rem;
  }
  .home__deals-row-pricesByType {
    padding: 1.2rem 1rem;
  }
  .home-tire-card {
    min-width: 14.4rem;
  }
}
@media (max-width: 438px) {
  .home__what-we-do-spec {
    padding: 1rem 1rem;
  }
  .home__deals-row-title-br {
    display: unset;
  }
  .home__header-form {
    width: 95%;
    padding: 1.9rem 0.9rem;
    padding-top: 0.4rem;
  }
  .home__header-form-title {
    font-size: 2.1rem;
  }
  .autocomplete__input {
    font-size: 1.6rem;
  }
  .home__deals-row-featured-service-p {
    font-size: 1.1rem;
  }
  .home__deals-row-title {
    font-size: 2.5rem;
  }
  .home-tire-card {
    min-width: 14.1rem;
  }
  .home__quickSearch-link {
    margin: 0.2rem 0.3rem;
    color: #556076;
    font-size: 1.3rem;
  }
}
@media (max-width: 408px) {
  .home__header-title {
    padding: 0 0.7rem;
  }
  .home__header-form-title {
    font-size: 1.8rem;
  }
  .home__header-title-h1 {
    font-size: 4rem;
  }
  .home__header-title-p-mobile {
    font-size: 2.4rem;
    padding-left: 2%;
  }
  .home__deals-row-pricesByType {
    padding: 1.2rem 0.5rem;
  }
  .posPrice-btn {
    padding: 1.1rem 1rem;
    font-size: 1.4rem;
  }
  .home-tire-card {
    min-width: 13.8rem;
  }
  .home__deals-row-featured {
    grid-template-columns: 3fr 2.5fr;
  }
  .home__deals-row-featured-service-p {
    font-size: 1rem;
  }
  .home__what-we-do-h2 {
    font-size: 3rem;
    background: linear-gradient(to left, #023752, #181d1d);
    padding: 1.5rem 1rem;
  }
  .home__navigation-logo-img {
    max-height: 4.1rem;
    margin-bottom: -1.5rem;
    margin-top: 0.8rem;
    margin-left: 0rem;
  }
}
/*** iPhone and iOS Form Input Zoom Fixes ***/
/* Fix Input Zoom on devices older than iPhone 5: */
@media screen and (device-aspect-ratio: 2/3) {
  select,
  textarea,
  input[type=text],
  input[type=password],
  input[type=datetime],
  input[type=datetime-local],
  input[type=date],
  input[type=month],
  input[type=time],
  input[type=week],
  input[type=number],
  input[type=email],
  input[type=url] {
    font-size: 16px;
  }
}
/* Fix Input Zoom on iPhone 5, 5C, 5S, iPod Touch 5g */
@media screen and (device-aspect-ratio: 40/71) {
  select,
  textarea,
  input[type=text],
  input[type=password],
  input[type=datetime],
  input[type=datetime-local],
  input[type=date],
  input[type=month],
  input[type=time],
  input[type=week],
  input[type=number],
  input[type=email],
  input[type=url] {
    font-size: 16px;
  }
}
/* Fix Input Zoom on iPhone 6, iPhone 6s, iPhone 7  */
@media screen and (device-aspect-ratio: 375/667) {
  select,
  textarea,
  input[type=text],
  input[type=password],
  input[type=datetime],
  input[type=datetime-local],
  input[type=date],
  input[type=month],
  input[type=time],
  input[type=week],
  input[type=number],
  input[type=email],
  input[type=tel],
  input[type=url] {
    font-size: 16px;
  }
}/*# sourceMappingURL=main.css.map */